body{
    margin: 0;
}
span {
    color: crimson;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Archivo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-decoration: underline;
    text-decoration-color: skyblue;
    text-decoration-thickness: 15px;
    text-shadow: 5px 5px 5px rgb(20, 25, 9);
}

div{
    text-align: right;
    border: 1px solid darkorchid;
    padding: 15px 30px 45px 60px;
    padding: 10px 30px;
    margin: 5px;
    width: 50%;
    box-sizing: border-box;
}
i {
    color: brown;
}
.lentele {
    background-image: 
}