html {
    line-height: 1.87;
    font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-size: inherit;
    font-weight: inherit;
    text-shadow: none;
}

body {
    margin: 0;
    padding: 0;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
    font-style: sans-serif;
}

.pranesimulenta {
    background-color: #1e2d7d;
    color: #ffffff;
    text-align: left;
    position: relative;
    display: block;
    border-bottom: 1px solid rgb(164 175 233 / 30%);
    box-sizing: border-box;
    height: 43.05px;
}

.pranesimulentavidine {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-flow: row nowrap;
    width: 100%;
    height: 43px;
}

@media screen and (min-width: 641px) {
    .pranesimulentavidine {
        align-items: center;
    }
}

@media screen and (max-width: 640px) {
    .pranesimulentavidine {
        display: block;
        align-items: center;
    }
}

.pranesimulentaturinys {
    display: block;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 0;
    padding: 7px 0;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 20px;
}

@media screen and (max-width: 641px) {
    .pranesimulentaturinys {
        display: block;
        text-align: center;
        font-size: 0.8rem;
    }
}

.headeris {
    padding: 20px 0;
    background-color: #1e2d7d;
    color: #ffffff;
    transition: 0.25s ease-in-out;
    height: 53.83px;
    width: 100%;
    position: relative;
}

.headeris_vidinis {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.container {
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;

}

.pranesimumygtukas {
    padding: 7px 18px 7px 15px;
    width: 190px;
    background-color: #00badb;
    height: 42px;
    line-height: 100%;
}

button {
    position: relative;
    cursor: pointer;
    font-family: "DIN Next", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    align-items: flex-start;
}

.button {
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-family: "DIN Next", sans-serif;
    color: white;
    padding: 0 30px;
    line-height: 48px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    background-color: #00badb;
}

.button:hover {
    opacity: 90%;
}

@media screen and (max-width: 641px) {
    .pranesimumygtukas {
        display: none;
    }
}

.navbaras {
    position: relative;
    display: none;
    text-shadow: none;
}

@media screen and (min-width: 1000px) {
    .naveilute {
        position: relative;
        display: inline-block;
        margin-right: 35px;
        padding: 17px 0;
    }

    .navbaras {
        display: block;
        position: relative;
        left: 0;
        width: 100%;
    }
}

ul,
ol {
    margin: 0;
    padding: 0;
}

.slide1 {
    position: relative;
    z-index: 1;
    top: 20vh;
}


div.slido1container {
    background-image: url(/Shopify/pics/slide1.jpg);
    background-position: center;
    background-size: cover;
    height: 430px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    text-align: left;
    position: relative;
}

.slide_turinukas {
    color: white;
    font-size: 2vh;
    z-index: 1;
}

.slide1mygtukas {
    padding: 7px 18px 7px 15px;
    width: 190px;
    background-color: #00badb;
    height: 42px;
    line-height: 100%;
    border: none;
    z-index: 1;
}

main {
    padding: 0;
    margin: 0;
}

.slide_pavadinimas {
    font-size: 2.8vh;
    color: white;
    z-index: 1;
    display: block;
}

@media screen and (max-width: 641px) {
    div.slido1container {
        display: flex;
        position: relative;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
    }

    .slide_turinukas,
    .slide1mygtukas,
    .slide_pavadinimas {
        text-align: center;
    }

    .slide1 {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover,
a:active {
    color: white;
    text-decoration: none;
}

.slide1mygtukas:hover {
    opacity: 80%;
}

.slidotaskai .taskai {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    border-radius: 100%;
    cursor: pointer;
    transform: scale(1);
    will-change: transform;
}

/* .slidotaskai .taskai.is-selected {
    transform: scale(1.35);
} */

.skyrius {
    margin: 60px 0;
    position: relative;
}

@media screen and (min-width:641px) {
    .skyrius {
        margin: 50px 0;
    }
}

.collection-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slido1container div div {
    position: relative;
}

.block-list {
    display: flex;
}

@media screen and (min-width: 1000px) {
    .block-list {
        white-space: normal;
    }
}

@media screen and (min-width: 641px) {
    .block-list {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -15px -30px -15px;
    }
}

.block-list__item {
    display: flex;
}

.backgrimg1 {
    background-image: url(/Shopify/pics/backgrimg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    text-align: left;
    position: relative;
}

.aspect-ratio {
    position: relative;
    margin: 0 auto 0 auto;
}

.section__header {
    display: flex;
    box-sizing: border-box;
    align-items: baseline;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
    line-height: 29.92px;
    margin-bottom: 20px;
    overflow-y: visible;
    overflow-x: visible;
    text-size-adjust: 100%;
}

.block-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0 -7px -20px -7px;
}

.block-list__item {
    display: flex;
}

.block-list__item> :first-child {
    margin: 0 7px 20px 7px;
    flex: 1 0 0%;
}

@media screen and (max-width: 999px) {
    .scroller .block-list {
        white-space: nowrap;
        flex-flow: row nowrap;
    }

    .scroller .block-list::before {
        content: "";
        flex: 0 0 var(--mobile-container-gutter);
    }

    .scroller .block-list::after {
        content: "";
        flex: 0 0 calc(var(--mobile-container-gutter) - 7px);
    }

    .scroller .block-list__item {
        flex: 0 0 auto;
        white-space: normal;
        scroll-snap-align: center;
    }
}

@media screen and (max-width: 640px) {
    .scroller .block-list__item {
        width: 81%;
    }
}

@media screen and (min-width: 641px) and (max-width: 999px) {
    .scroller .block-list__item {
        width: 56%;
    }

    .scroller .block-list::before {
        flex: 0 0 var(--desktop-container-gutter);
    }

    .scroller .block-list::after {
        flex: 0 0 calc(var(--desktop-container-gutter) - 15px);
    }
}

@media screen and (min-width: 641px) {
    .block-list {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -15px -30px -15px;
    }

    .block-list__item> :first-child {
        margin: 0 15px 30px 15px;
    }
}

@media screen and (min-width: 1000px) {
    .block-list {
        white-space: normal;
    }

    .block-list::before,
    .block-list::after {
        display: none;
    }

    .block-list__item--grow {
        flex-grow: 1;
    }
}

.offer-item {
    padding: 20px;
    background: var(--secondary-background);
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

.offer-item__image-wrapper {
    min-width: 70px;
    max-width: 70px;
    margin-bottom: 14px;
}

.offer-item__title {
    margin-bottom: 6px;
    font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 17px));
}

.offer-item__content {
    font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 14px));
}

@media screen and (min-width: 641px) {
    .offer-item {
        padding: 28px 30px;
    }

    .offer-item__image-wrapper {
        min-width: 110px;
        max-width: 110px;
    }
}

@media screen and (min-width: 1280px) {
    .offer-item--inline {
        display: flex;
        align-items: center;
    }

    .offer-item--inline .offer-item__image-wrapper {
        margin: 0 30px 0 0;
    }
}